<%- include layouts/header.ejs %>

<div class="container">
    <% if ( libros.length == 0) {%>
        <h2>carrito vacio</h2>
    <%}else {%>
    <div class="row">
        <div class="col-md-8">
            <% var subtotal = 0; %>
            <% for(var libro=0 ; libro < libros.length; libro++) { %>
            <% subtotal = subtotal + parseFloat(libros[libro].precio) %>
                
            <div class="row cart-section">  
                <div class="col-md-3">
                   <p class="text-center"> <img src="/images/<%=libros[libro].imagen%>" alt="imagebook" class="imagecart"></p>
                </div>
                <div class="col-md-3">
                    <h2>Nombre del libro</h2>
                    <p><%=libros[libro].titulo%><span> Por <%= libros[libro].autor%></span></p>
                </div>
                <div class="col-md-2">
                    <h2>Precio</h2>
                    <p>$<%= libros[libro].precio%></p>
                </div>
                <div class="col-md-2 text-center" >
                        <h2>Cantidad</h2>
                        <p >1</p>
                </div>
                <div class="col-md-2 text-center">
                    <h2>Acciones</h2>
                    <a href="/carrito/delete/<%=libros[libro].id%>" id="less" ><i class="fas fa-trash-alt text-danger"></i></a></p>
                </div>
            </div>
            <%}%>

        </div>


        <div class="col-md-3 cart-pay ml-2">
            <h2>Subtotal: $<%=subtotal%></h2>
            <form action="/paypal/pagar" method="post">
            <p>
                <ul>
                    <% json = null%>
                    <% for(var i=0 ; i < libros.length; i++) { %>
                        <% if (json == null){%>
                            <% json =  `{ 
                                "name": "`+ libros[i].titulo +`",
                                "sku": `+ libros[i].id_producto +`,
                                "price": `+ libros[i].precio +`,
                                "currency": \"MXN\",
                                "quantity": 1
                            },`;%>
                        <%}else{%>
                            <% var json = json + `{ 
                                "name": "`+ libros[i].titulo +`",
                                "sku": `+ libros[i].id_producto +`,
                                "price": `+ libros[i].precio +`,
                                "currency": \"MXN\",
                                "quantity": 1
                            },`; %>
                        <%}%>
                        
                        <li> <%=libros[i].titulo%>: $<%=libros[i].precio%></li>
                    <%}%>
                    
                </ul><input type="hidden" name="productos" value="<%=json%>">
            </p>
            <button class="btn btn-outline-warning btnSeeBook btn-block" type="submit">Pagar</button>
            </form>
        </div>
    </div>
    <%}%>
<%- include layouts/footer.ejs %>
